body, h1, h2, h3, h4 {
    font-family: "Open Sans", Sans-Serif;
}
body /*Second layer background color*/{
    color: #000000;
    background-color: #FFFFFF;
    padding-top: 0px;
    padding-left: 0px;
    border-right: 1px solid;
    border-right-color: #e4e4e4;
}
h1 {
    font-size: 30px;
    color: #0074AC;
}
h2 {
    font-size: 16px;
    color: #FFFFFF;
}
h3 {
    font-size: 14px;
    color: #FFFFFF;
}
h4 {
    font-size: 12px;
    color: #FFFFFF;
}
a, a:hover {
    color: #0074AC;
}
pre {
    font-size: 10px;
}
a {
  color: #58adb3;
}
/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #e4e4e4;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #b3d8eb;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #4da4d0;
}
.bgwhite {
  background: #FFFFFF;
  color: #FFFFFF;
  font-size: 10px;
  margin-top: 12px;
}
.bgwhitehalf {
  background: #FFFFFF;
  color: #FFFFFF;
  font-size: 10px;
  margin-top: 12px;
  min-width: 330px;
  max-width: 330px;
}
.bggradient {
  background-image: linear-gradient(90deg, rgba(88,173,179,1) 35%, rgba(0,125,188,1) 100%);
  color: #FFFFFF;
  font-size: 10px;
  opacity: 0.8;
}
.bgtitle {
  background: rgba(0, 0, 0, 0);
  color: #FFFFFF;
  font-size: 10px;
  letter-spacing: 4px;
}
.bgbox {
  background: rgba(0, 0, 0, 0);
  color: #FFFFFF;
  font-size: 10px;
  letter-spacing: 4px;
  font-weight: 400;
}
.columntext{    
  overflow: auto;
  margin-right: 16px;
  background: #FFFFFF;
  font-size: 11px;
  margin-top: 12px;
}
.columntextscroll{    
  overflow: auto;
  margin-right: 16px;
  padding-right: 16px;
  background: #FFFFFF;
  font-size: 11px;
  margin-top: 12px;
}
.section.sidebar{
  top: 0;
  border-right: 0px;
  background-color: #FFFFFF;
  margin: 0;
  padding: 0;
  position: fixed;
  overflow:hidden;
}
ul {
  padding-left: 12px;
}
.nav-tabs-custom > .nav-tabs /*Tabset heading background*/{
    margin: 0;
    border-bottom: 1px solid #7f7f7f;
    color: #666;
    font-size: 14px;
    font-weight: 300;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    background: #2f2f2f;
    white-space:nowrap;
    overflow-x: auto;
    width: 100%;
}
.nav-tabs-custom > .nav-tabs > li.active /*Tabset active*/{
    background-color: #2f2f2f;
    color: #FFFFFF;
    /*Keep an eye on this bit, it's weird*/
    border-top: 4px;
    border-top-color: #FFF;
}
.nav-tabs-custom > .nav-tabs > li.active > a /*Active tabset when you hover over it*/{
    background-color: #2f2f2f;
    color: #FFFFFF;
    border-top-color: #FFF;
}
.nav-tabs-custom > .nav-tabs > li.active > a:hover /*Active tabset when you hover over it*/{
    background-color: #2f2f2f;
    color: #FFFFFF;
}
.nav-tabs-custom > .nav-tabs > li > a:active /*Unselected tabset when you actually click it*/{
    background-color: #2f2f2f;
    color: #FFFFFF;
    border-top-color: #FFFFFF;
    font-size: 12px;
}
.nav-tabs-custom > .nav-tabs > li > a:hover /*Unselected tabset when you hover over it*/{
    background-color: #2f2f2f;
    color: #FFFFFF;
    border-top-color: #FFFFFF;
    font-size: 12px;
}
.nav-tabs-custom > .nav-tabs > li > a /*Tabset base*/{
    color: #9f9f9f;
    font-weight: 300;
    font-size: 12px;
    letter-spacing: 4px;
    border-radius: 0;
    padding: 3px 10px 5px;
    text-transform: none;
}
.chart-wrapper, .nav-tabs-custom, .sbframe-commentary /*Tabset exterior box*/{
    border: 1px solid #7f7f7f;
    border-radius: 1px;
    margin-bottom: 8px;
    margin-right: 16px;
    margin-left: 16px;
    background: #FFFFFF;
}
.chart-wrapper .chart-stage /*Tabset interior box*/{
    overflow: hidden;
    padding-top: 15px;
    padding-left: 0px;
    padding-right: 0px;
    position: relative;
    background: #FFFFFF;
}
.js-plotly-plot .plotly .cursor-crosshair {
cursor: pointer;
}
.leaflet-container .leaflet-control-attribution /*Map attribution*/{
    background: rgba(0, 0, 0, 0);
    color: #808080;
    font-size:5px;
    margin: 0;
}
.leaflet-touch .leaflet-control-layers, .leaflet-touch .leaflet-bar /*specific to the evidence map crosstalk selection*/{
    border: 0px solid rgba(0,0,0,0);
    background-clip: padding-box;
    height: 0px;
    width: 0px;
}
.leaflet-touch .leaflet-bar button /*specific to the evidence map crosstalk selection*/{
    width: 0px;
    height: 0px;
    line-height: 0px;
}
.irs-bar /*specific to the crosstalk filter_selector*/{
    height: 2px;
    top: 28px;
    border-top: 0;
    border-bottom: 0;
    background: #9f9f9f;
}
.irs-slider {
    top: 24px;
    width: 24px;
    height: 12px;
    /* border: 1px solid #AAA; */
    background: #9f9f9f;
    border-radius: 27px;
}
.irs-line {
    border: 0px;
}
.irs-from {
    color: #9f9f9f;
    font-size: 10px;
    margin-left: 16px;
    line-height: 1.333;
    text-shadow: none;
    background: #FFFFFF
}
.irs-to {
    color: #9f9f9f;
    font-size: 10px;
    margin-left: -16px;
    line-height: 1.333;
    text-shadow: none;
    background: #FFFFFF;
}
.irs-single {
    color: #9f9f9f;
    font-size: 10px;
    line-height: 1.333;
    text-shadow: none;
    background: #FFFFFF;
}
.irs-min, .irs-max {
    color: #fff;
    background: rgba(0,0,0,0);
}
.dashboard-row-orientation {
    margin-right: 10px;
}
.chart-title {
  color: #58adb3;
  font-size: 16px;
  font-family: "Open Sans", Sans-Serif;
  font-weight: 400;
  padding: 6px 0px 6px;
}
.navbar{
  visibility: hidden;
  display: none;
  margin: 0;
  padding: 0;
}
/*.navbar-brand {font-size: 0px;letter-spacing: 4px;margin: 0px;}.navbar-nav {font-size: 12px;padding-left: 10px;letter-spacing: 4px;}*/
.value-box {
    margin-top: 16px;
    margin-right: 16px;
    margin-left: 16px;
    margin-bottom: 24px;
    background: #5F5F5F;
}
.value-box .icon i{
    color: #FFFFFF; 
    font-size: 36px;
}
.value-box .value {
    font-size: 20px;
    font-weight: normal;
    color: #FFFFFF;
}
.value-box .caption {
    font-size: 10px;
    font-weight: normal;
    color: #FFFFFF;
}
.chart-wrapper /*chart_box*/{
    margin-right: 16px;
    margin-left: 16px;
    margin-bottom: 16px;
    border: 0px;
}
.chart-wrapper .chart-stage /*chart_inside*/{
    overflow: hidden;
    padding-top: 15px;
    padding-left: 0px;
    padding-right: 0px;
    position: relative;
}
.info /*legends*/{
    padding: 6px 8px;
    color: #000000;
    font-size: 8px;
    font-weight: 200;
    color: white;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 5px;
}
.leaflet-control-layers-expanded /*layer_control*/{
    padding: 6px 10px 6px 6px;
    color: #767676;
    font-weight: 200;
    background: rgba(255, 255, 255, 0.6);
    font-size: 9px;
    border: 1px solid #7f7f7f;
}
.bootstrap-table table > thead /*DT header*/{
    background-color: #0000;
    color: #767676;
    font-size: 9px;
}
.bootstrap-table table /*DT*/{
    background-color: #0000;
    color: #767676;
    font-size: 9px;
}
div.dataTables_wrapper div.dataTables_filter {
    text-align: left;
}
div.dataTables_wrapper div.dataTables_filter label /*DT searchbar*/{
    color: #767676;
    font-size: 11px;
    margin-bottom: 16px;
}
label /*DT search label*/{
  color: #767676;
}
.dataTables_wrapper.no-footer .dataTables_info /*DT info for the title bit (results)*/{
    padding-top: 0;
    font-size: 16px;
    font-weight: bold;
    color: #58adb3;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    color: #58adb3 !important;
    border: 0px solid #e4e4e4;
    font-weight: 800;
    background-color: white;
    background: #fff;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    color: #58adb3 !important;
    border: 0px solid #e4e4e4;
    background-color: white;
    background: #fff;
}
.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
    z-index: 2;
    color: #fff;
    background-color: #0074AC;
    border-color: #0074AC;
}
.blackbox {
  padding: 1em;
  background: #C0DCDC;
  color: #3F3F3F;
  font-size: 16px
}
.center {
  text-align: center;
}
